
@media (max-width: 425px){
    header{
        width: 100%;
    }
    .logo{ 
        img{
        height: 2.1875rem;
        width: 2.1875rem;
        }
    }
    .display-none-425{
        display: none;
    }
    .contenedor{ 
        a{
            img{
                width: 1.875rem;
                height: 1.875rem;
                margin: 0;
                margin-bottom: 5.625rem;
                }
            }
        }
    .productos{
        p{
        font-size: .9375rem;
        }
    }
    .style-titulo{ 
        h1{
        font-size: 2.1875rem;
        }
    }
    .parrafo-nosotros{
        margin-left: .125rem;
        margin-right: .125rem;

        p{
        font-size: 1.125rem;
        }
    }
    .texto-ayuda{
        margin-left: .625rem;
        margin-bottom: 3.125rem;
        margin-top: 3.125rem;

        h2{
        font-size: .9375rem;
        margin-bottom: 1.5625rem;
        }
    }
    .logo-footer{ 
        img{
        display: none;
        }
    }
    .texto-contacto{
        margin-right: .625rem;
        margin-top: 3.125rem;

        h2{
            font-size: .9375rem;
            margin-bottom: 1.5625rem;
        }
    }
    .footer-images{ 
        li{ 
            a{ 
                img{
                width: 3.125rem;
                height: 3.125rem;
                }
            }
        }
    }
    .display-none-redes{
        display: none;
    }
    .card{ 
        img{
        width: 10.625rem;
        height: 12.5rem;
        }
    }
    .select-none{
        display: none;
    }
    .cardBody{ 
        h5{
        font-size: 1.5625rem;
        padding-left: .3125rem;
        padding-right: .3125rem;
        }
    }
    .style-titulo{
        h1{
        font-size: 2.5rem;
        }
    }
}